#devise {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: black;
  padding: 40px;

  input {
    margin: 12px 0;
    color: whitesmoke;
    background-color: black;
  }

  .form-inputs {
    margin-top: 18px;
    border: 1px whitesmoke solid;
    padding: 40px;

  }
}
