<div id="tchatbox">
  <header>
    <h1>(T)ChatBox</h1>
    <%= link_to root_path, id: 'link-accueil' do %>
      <h2>Accueil</h2>
    <% end %>
    <%= link_to sinemas_path, id: 'link-video' do %>
      <h2>Si Nema</h2>
    <% end %>
  </header>
  <div id="userCam">
    <div id="myVideo"></div>
    <p id="userCamStart">Allumer son retour</p>
    <p id="userCamStop">Eteindre son retour </p>
  </div>
  <div id='container-main'></div>
  <div id="videogrid"></div>
</div>
