<div id="tchatbox" data-user='<%= current_user.username %>'>
  <header>
    <h1>(T)ChatBox</h1>
    <%= link_to root_path, id: 'link-accueil' do %>
      <h2>Accueil</h2>
    <% end %>
    <%= link_to sinemas_path, id: 'link-video' do %>
      <h2>Si Nema</h2>
    <% end %>
  </header>
  <div id="main-box"></div>
  <div id='videogrid'></div>
</div>
