<div id="home">
  <header>
    <h1>Mon Site Test</h1>
  </header>
  <div id="home-container-liens">
    <h2>Mes Projets :</h2>
    <div class="liens">
      <%= link_to '(T)chatbox', tchatboxs_path %>
    </div>
    <div class="liens">
      <%= link_to 'Si Nema', sinemas_path %>
    </div>
  </div>
</div>
